.chatroom {
    position: absolute;
    left: 200px;
    font-family: "Calibri", sans-serif;
    color: grey;
    line-height: 2.5rem;   
    width: 100%;
}

.chatroom h1 {
    padding-left: 3rem;
    padding-bottom: 3rem;
    text-align: left;
    font-size 3rem;
    font-weight: 800;
}

.message-list {
    text-align: center;
    margin-bottom: 50px;
}

.message-line {
    padding: 1rem;
    padding-left: 3rem;
    background: white;
    font-size: 2rem;
    text-align: left;
}

.message-line:nth-child(even) {
    background: rgba(242, 242, 242, 1);
}

.username {
    font-weight: 800;
    margin-right: 1rem;
}

.timestamp {
    text-align: right;
    font-style: italic;
    color: rgba(194, 194, 191, 1);
    margin-right: 200px;
    padding-right: 2rem;
}

.message-text {
    margin-right: 200px;
    /* how do you make the text wrap rather than cut off when you resize the window on a long line of text content?
    fixed it - a right margin to make up for the left margin sidebar, so it calculates the overflow right! */
}

.new-message {
    position: fixed;
    bottom: 0px;
    width: 100%;
    background: rgba(242, 242, 242, 1);
    font-size: 2rem;
    padding-left: 2rem;
}

.message-input {
    width: 50%;
    font-style: italic;
    padding: 1rem;
}

.message-button {
    width: 20%
}
