.modalTemp h1 {
    font-size: 2rem;
    color: grey;
    text-align: left;
    font-family: "Calibri", sans-serif;
    font-weight: 800;
    padding-left: 2rem;
}

.modal-input-button {
    vertical-align: center;
    background: grey;
    font-size: 2rem;
    color: white;
    text-align: center;
    font-family: "Calibri", sans-serif;
    padding: 1.5rem;
}

.modal-input-button:hover {
    cursor: pointer;
    background: rgba(194, 194, 191, 1);
    color: grey;
}

.modal-input {
    color: grey;
    font-size: 2rem;
    text-align: left;
    font-family: "Calibri", sans-serif;    
    padding-left: 2rem;
    margin-top: 2rem;
}

.modal-input-box {
    color: grey;
    font-size: 2rem;
    text-align: left;
    font-family: "Calibri", sans-serif;    
    font-style: italic;
    color: rgba(194, 194, 191, 1);
    margin-left: 2rem;
    margin-bottom: 2.5rem;
    margin-top: 1rem;
}