.navbar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 200px;
    height: 100%;
    background: rgba(194, 194, 191, 1);
    z-index: 100;
}

.navbar h1 {
    font-size: 3rem;
    color: white;
    text-align: center;
    font-family: "Calibri", sans-serif;
    font-weight: 800;
    padding: 1.5rem;
}

.navbar-button {
    vertical-align: center;
    background: grey;
    font-size: 2rem;
    color: white;
    text-align: center;
    font-family: "Calibri", sans-serif;
    padding: 1rem;
    width: 100%;
}

.navbar-button:hover {
    cursor: pointer;
    background: white;
    color: grey;
}

.new-user-button {
    position: absolute;
    bottom: 0;
}

.rooms-list {
    padding: 1rem;
}

.room {
    color: white;
    font-size: 2rem;
    text-align: center;
    font-family: "Calibri", sans-serif;    
    padding: .2rem;
}

.room:hover {
    color: white;
    cursor: pointer;
    text-decoration: none;
    font-weight: bold;
}

.current-user {
    position: absolute;
    bottom: 40px;
    font-size: 2rem;
    color: grey;
    text-align: left;
    font-family: "Calibri", sans-serif;
    padding: 1.5rem;
    margin-bottom: .75rem;
}

/*
.logo {
    position: absolute;
    bottom: 20px;
    left: 20px;
    display: none;
}
*/