<section class="navbar" ng-controller="navbarController as navbar">
    <h1>Chateau</h1>
    
    <div class="navbar-button" ng-click="navbar.openModal(navbar.roomTemplate)">
        Add Channel
    </div>

    <div class="rooms-list">
        <div class="room" ng-repeat="room in navbar.roomsArray">
            <span ui-sref="chatroom" ng-click="navbar.setRoom(room.$id)">{{ room.$value }}</span>
        </div>
    </div>

    <div class="current-user" ng-show="navbar.Message.username">
        Currently logged in as <span class="current-username">{{ navbar.Message.username }}</span>.
    </div>

    <div class="navbar-button new-user-button" ng-show="navbar.Message.username" ng-click="navbar.openModal(navbar.userTemplate)">
        Switch User
    </div>

    <!--
    <div class="logo">
        <img src="/assets/images/logo-white.png">
    </div>
    -->
</section>