<section class="navbar" ng-controller="navbarController as navbar">
    <h1>Bloc Chat</h1>
    
    <div class="new-room-button" ng-click="navbar.openModal(navbar.template)">
        Add Chat Room
    </div>

    <div class="rooms-list">
        <div class="room" ng-repeat="room in navbar.roomsArray">
        {{ room.$value }}
        </div>
    </div>
    
    <div class="logo">
        <img src="/assets/images/bloc-logo-white.png">
        <!-- this logo is kinda big, so i took it off for now-->
    </div>
</section>