<section class="modalTemp">
    <h1>Add New User</h1>
    <span class="close-button" ng-show="user.Message.username" ng-click="user.closeModal()">X</span>

    <div class="modal-input" ng-show="user.User.username">
        The current user is <span class="current-username">{{ user.User.username }}</span>.
    </div>
    <div class="modal-input">
        Please enter username and password to sign in. <span ng-show="!user.User.exists(user.username)">
        To create a new user, enter a username, email, and password.
        </span>
        
        <div class="username-input">
            Username 
            <input class="modal-input-box" type="text" placeholder="type a username here..." ng-keypress="user.keypress($event)" ng-model="user.username"/>
        </div>
        <div class="email-input" ng-show="!user.User.exists(user.username)">
            Email
            <input class="modal-input-box" type="text" placeholder="type an email address here..." ng-keypress="user.keypress($event)" ng-model="user.email"/>
        </div>
        <div class="password-input">
            Password 
            <input class="modal-input-box" type="text" placeholder="type your password here..." ng-keypress="user.keypress($event)" ng-model="user.password"/>
        </div>
        <div class="username-error" ng-show="user.error">
            Error: {{ user.error }}
        </div>
    </div>
    <div class="modal-input-button" ng-click="user.signIn(user.username, user.email, user.password)">
        Sign In
    </div>
</section>